# Shared
NODE_ENV=development
GLOBAL_PREFIX=api
SWAGGER_ENABLED=true
RMQ_URI=amqp://guest:guest@rabbitmq:5672
REDIS_HOST=redis
REDIS_PORT=6379
JWT_ACCESS_SECRET=super-secret-access
JWT_REFRESH_SECRET=super-secret-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=100
LOG_LEVEL=info

# Gateway
API_GATEWAY_PORT=3000

# Service Ports
AUTH_SERVICE_PORT=3001
USER_SERVICE_PORT=3002
PRODUCT_SERVICE_PORT=3003
ORDER_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005

# Queues
AUTH_SERVICE_QUEUE=auth.queue
USER_SERVICE_QUEUE=user.queue
PRODUCT_SERVICE_QUEUE=product.queue
ORDER_SERVICE_QUEUE=order.queue
NOTIFICATION_SERVICE_QUEUE=notification.queue

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
AUTH_DB_NAME=auth_db
USER_DB_NAME=user_db
PRODUCT_DB_NAME=product_db
ORDER_DB_NAME=order_db

# MongoDB
MONGO_URI=mongodb://mongo:27017/platform
NOTIFICATION_MONGO_DB=notification_db
